/* .app-footer {        
    width: 100%;
    background: rgba(19, 23, 25, 1);
    color: #ffffff4d;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 8px;
}


.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px 0;
    width: 100%;
}

.app-info {
    width: 30%;
}

.app-info h2 {
    color: #fff;
}

.app-info p {
    font-size: 14px;
    margin-top: 16px;
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.action-header {
    color: #fff;
}

.unordered-list {
    list-style: none;
    font-size: 14px;
    margin-top: 16px;
}

.unordered-list li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

a:hover {
    color: #63a9fe;
    transition: 0.2s ease-in all;
}

.social-icons img {
    width: 20px;
    margin-right: 16px;
    padding: 8px 0;
    cursor: pointer;
}

.copyright {
    font-size: 14px;
    margin: 4px 0 20px 0;
} */

  /* Footer */
  footer {
      background: #fff;
      border-top: 2px solid #61c3ea;
      color: #333;
      font-size: 0.9em;
      padding: 30px 30px 40px;
      max-width: 1100px;
      margin: 40px auto 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-between;
  }

  footer .footer-section {
      min-width: 160px;
  }

  footer .footer-section h3 {
      font-weight: 700;
      margin-bottom: 12px;
      color: #61c3ea;
  }

  footer .footer-section ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  footer .footer-section ul li {
      margin-bottom: 8px;
  }

  footer .footer-section ul li a {
      color: #333;
      text-decoration: none;
  }

  footer .footer-section ul li a:hover {
      text-decoration: underline;
  }

  footer .social-icons {
      display: flex;
      gap: 20px;
      align-items: center;
  }

  footer .social-icons a {
      text-decoration: none;
      color: #61c3ea;
      font-size: 1.7em;
      transition: color 0.3s;
  }

  footer .social-icons a:hover {
      color: pink;
  }