.section {
    margin-top: 50px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 28px;
}

.section-title a {
    text-decoration: none;
}